
.DS_Store
SchedulingSimulator/Main/__pycache__/__init__.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/admin.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/edf.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/forms.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/models.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/rms.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/views.cpython-37.pyc
SchedulingSimulator/Main/migrations/__pycache__/__init__.cpython-37.pyc
SchedulingSimulator/SchedulingSimulator/__pycache__/__init__.cpython-37.pyc
SchedulingSimulator/SchedulingSimulator/__pycache__/settings.cpython-37.pyc
SchedulingSimulator/SchedulingSimulator/__pycache__/urls.cpython-37.pyc
SchedulingSimulator/SchedulingSimulator/__pycache__/wsgi.cpython-37.pyc
SchedulingSimulator/log/RMS.log
SchedulingSimulator/log/EDF.log
*.log
SchedulingSimulator/Main/__pycache__/fcfs.cpython-37.pyc
SchedulingSimulator/Main/__pycache__/sjf.cpython-37.pyc
SchedulingSimulator/log/SJF.log
SchedulingSimulator/log/RMS.log
*.log
SchedulingSimulator/log/SJF.log
SchedulingSimulator/.vscode/launch.json
SchedulingSimulator/.vscode/tasks.json
.idea