{% load static %}
<html>
<head>
    <title>NAME</title>
    <script src="{% static 'js/chart.js/dist/Chart.js' %}"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'js/chart.js/dist/Chart.css' %}">
</head>
<body>
<p>
    TEST
</p>

<!-- TODO : passing the radius to drawpoint() dynamically,
            Graph adjustment,
            define the i/p & o/p, color, label for the chart dynamically-->

<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<div style="width:75%">
<canvas id="myChart" width="200" height="50" ></canvas>
</div>
<script>
var ctx = document.getElementById('myChart');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            borderColor: '#ff6384',
            backgroundColor: '#ff6384',
            data: [{x: 5,y: 1}, {x: 8,y: 1}, {
                x: 6,
                y: 1
            }]
        },{
        label: 'Scatter',
        borderColor: '#36a2eb',
        backgroundColor: '#36a2eb',
            data: [{
                x: 1,
                y: 1
            }, {
                x: 4,
                y: 1
            }, {
                x: 9,
                y: 1
            }],
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom',
                ticks: {
                    suggestedMax: 10,
                    suggestedMin: 0,
                    stepSize: 1
                }
            }],
            yAxes: [{
                ticks: {
                    max: 2,
                    min: 0,
                    stepSize: 1
                }
            }]
        }
    }
});
</script>
</body>

</html>

