{% load static %}
<html>
<head>
    <title>NAME</title>



  <script src="{% static 'js/controller.js' %}"></script>

  <script src="{% static 'js/chart.js/dist/Chart.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/chart.js/dist/Chart.css' %}">

</head>
<body>

<!-- TODO : passing the radius to drawpoint() dynamically,
            Graph adjustment,
            define the i/p & o/p, color, label for the chart dynamically-->
<hr>
<div style="width:100%;border-color: coral;">
<canvas id="myChart" width="200" height="25" ></canvas>
</div>
<br>
<hr>
<br>
<div style="width:100%;border-color: coral;">
<canvas id="myChart2" width="200" height="25" ></canvas>
</div>
<br>
<hr>
<script>
createGraph('myChart','Rate Monotonic');
createGraph('myChart2','Earliest Dead First');
</script>
</body>

</html>

