{% load static %}
<html>
<head>
    <title>NAME</title>
    <script src="{% static 'js/chart.js/dist/Chart.js' %}"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<p>
    TEST
</p>

<!-- TODO : drawPoint method in Chart.js switch, default method -->

<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<canvas id="myChart" width="500" height="150"></canvas>
<script>
var ctx = document.getElementById('myChart');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: [{
                x: 0,
                y: 0
            }, {
                x: -8,
                y: 0
            }, {
                x: -6,
                y: 0
            }]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});
</script>
</body>

</html>

